# Copiar este archivo a .env y llenar con tus credenciales

# ScraperAPI
SCRAPER_API_KEY=tu_api_key_aqui

# Azure Email
AZURE_EMAIL_CONNECTION_STRING=tu_connection_string_aqui
AZURE_EMAIL_SENDER=DoNotReply@micelu.co

# Emails destinatarios (separados por comas, puedes agregar cuantos quieras)
EMAILS_DESTINATARIOS=email1@ejemplo.com,email2@ejemplo.com,email3@ejemplo.com

# Cloudflare R2
CLOUDFLARE_R2_ENDPOINT_URL=tu_endpoint_aqui
CLOUDFLARE_R2_ACCESS_KEY_ID=tu_access_key_aqui
CLOUDFLARE_R2_SECRET_ACCESS_KEY=tu_secret_key_aqui
CLOUDFLARE_R2_BUCKET_NAME=tu_bucket_aqui
CLOUDFLARE_R2_PUBLIC_URL=tu_public_url_aqui

# Horario de scraping (hora de Colombia)
# Formato: HH:MM (24 horas)
HORARIO_INICIO=08:30
HORARIO_FIN=18:30
# Días laborales: 1=Lunes, 2=Martes, 3=Miércoles, 4=Jueves, 5=Viernes, 6=Sábado, 7=Domingo
DIAS_LABORALES=1,2,3,4,5,6

# SharePoint / Microsoft Graph
# Obtener estas credenciales desde Azure Portal > App Registrations
AZURE_TENANT_ID=tu_tenant_id_aqui
AZURE_CLIENT_ID=tu_client_id_aqui
AZURE_CLIENT_SECRET=tu_client_secret_aqui
SHAREPOINT_SITE_URL=https://tuempresa.sharepoint.com/sites/TuSitio
SHAREPOINT_FOLDER_PATH=/Documentos compartidos/TuCarpeta
SHAREPOINT_FILE_NAME=productos_exito.xlsx
