# Copiar este archivo a .env y llenar con tus credenciales

# ScraperAPI
SCRAPER_API_KEY=tu_api_key_aqui

# Azure Email
AZURE_EMAIL_CONNECTION_STRING=tu_connection_string_aqui
AZURE_EMAIL_SENDER=DoNotReply@micelu.co

# Emails destinatarios
EMAIL_ADMIN_1=email1@ejemplo.com
EMAIL_ADMIN_2=email2@ejemplo.com

# Cloudflare R2
CLOUDFLARE_R2_ENDPOINT_URL=tu_endpoint_aqui
CLOUDFLARE_R2_ACCESS_KEY_ID=tu_access_key_aqui
CLOUDFLARE_R2_SECRET_ACCESS_KEY=tu_secret_key_aqui
CLOUDFLARE_R2_BUCKET_NAME=tu_bucket_aqui
CLOUDFLARE_R2_PUBLIC_URL=tu_public_url_aqui
